<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>simpleMap</title>
    <script
            src="https://apis.openapi.sk.com/tmap/vectorjs?version=1&appKey=EHDhTt6iqk7HwqS2AirSY71g65xVG8Rp3LtZaIIx"></script>
    <script type="text/javascript">
        var map;
        // 페이지가 로딩이 된 후 호출하는 함수입니다.
        function initTmap(){
            // map 생성
            // Tmapv3.Map을 이용하여, 지도가 들어갈 div, 넓이, 높이를 설정합니다.
            map = new Tmapv3.Map("map_div", {
                center : new Tmapv3.LatLng(37.56520450, 126.98702028),
                width : "100%",	// 지도의 넓이
                height : "400px",	// 지도의 높이
                zoom : 16	// 지도 줌레벨
            });
            //Marker 객체 생성.
            var marker = new Tmapv3.Marker({
                position: new Tmapv3.LatLng(37.56520450, 126.98602028),	//Marker의 중심좌표 설정.
                map: map	//Marker가 표시될 Map 설정..
            });
            //Marker 객체 생성.
            var marker = new Tmapv3.Marker({
                position: new Tmapv3.LatLng(37.56520450, 126.98702028),	//Marker의 중심좌표 설정.
                map: map	//Marker가 표시될 Map 설정..
            });
            //Marker 객체 생성.
            var marker = new Tmapv3.Marker({
                position: new Tmapv3.LatLng(37.56520450, 126.98802028),	//Marker의 중심좌표 설정.
                map: map	//Marker가 표시될 Map 설정..
            });
        }
    </script>
</head>
<body onload="initTmap()"><!-- 맵 생성 실행 -->
<div id="map_div"></div>
</body>
</html>